* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(32, 33, 34);
    color: aliceblue;
    text-align: center;
    padding: 1em;
}

.season-1, .season-2 {
    text-align: left;
    position: relative;
    display: block;
    left: 10px;
    top: 50px;
    
}


ul {
    list-style-type: disc; 
    text-align: left; 
    margin-left: 20px; 
    margin-top: 10px;
}


li {
    margin-bottom: 10px; 
}

.season-2{
    top: 99px;
}